    {% load static %}
    <section id="about" class="about">
      <div class="container">
        {% load markdown_extras %}
        {% for About in Abouts %}
        <div class="section-title">
          <h2>Hakkımda</h2>
          <p>{{ About.AboutName }}</p>
        </div>
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{{ About.Profil_Image.url }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>{{ About.Header }}</h3>
            <p class="fst-italic">
              {{ About.P2 }}
            </p>
            <div class="row">
              
              <div class="col-lg-6">
                {{ About.body | markdown | safe }}
              </div>
            </div>            
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
